* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  transition: 1s;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.togglebutton {
  padding: 1rem 4rem 1rem 4rem;
  font-size: 18px;
  color: black;
  background-color: white;
  border: 5px solid black;
}

.button-dark {
  border: 5px solid yellow;
  box-shadow: 0 0 10px 4px yellow;
  color: aliceblue;
  background-color: black;
}
